/* header */

.header-nav-logo-blue {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-nav-logo-black {
  color: #2e2f42;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-nav-list-item {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-nav-list-item:hover,
.header-nav-list-item:focus {
  color: #404bbf;
}

.header-contacts {
  font-style: normal;
}

.header-contacts-link {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.header-contacts-item {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.header-contacts-item:hover,
.header-contacts-item:focus {
  color: #404bbf;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #404bbf;
}
/* body */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
  font-size: 16px;
}

/* hero */

.hero {
  background-color: #2e2f42;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.button-hero {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.button-hero:hover,
.button-hero:focus {
  background-color: #404bbf;
  cursor: pointer;
}

/* section 1 */
.company-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.company-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* section 2 */
.portfolio {
  background-color: #f4f4fd;
}
.porfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.porfolio-title-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-list {
  background-color: #ffffff;
}
.portfolio-list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* section 3 */
