/* header */

.header-nav-logo-blue {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-nav-logo-black {
  color: #2e2f42;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-nav {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-nav-list-item:hover,
.header-nav-list-item:focus {
  color: #404bbf;
}

.header-contacts {
  font-style: normal;
}

.header-contacts-link {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.header-contacts-item {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.header-contacts-item:hover,
.header-contacts-item:focus {
  color: #404bbf;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #404bbf;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  font-size: 16px;
  width: 1440px;
  height: 3300px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
